// font

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Merriweather:ital@0;1&display=swap');

// main div containers

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
background-color: crimson;
color: white;
padding: 5px;

}

.cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
    width: 94vw;
    max-width: 500px;
}

// about section

#about {
    font-family: 'Merriweather', serif;
    font-size: large;
    text-indent: 2em;
    text-align: justify;
}

// section parole

#uneparole {
    text-indent: 2em;
    font-family: 'Merriweather', serif;
    font-size: large;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 1.5;
    max-width: 450px;
}
#evangileDuJour {
    line-height: 1.2;
    text-indent: 2em;
    font-family: 'Merriweather', serif;
    font-size: large;
    white-space: pre-wrap;
        max-width: 450px;
        padding: 3vw;
}


.ref {
    color: midnightblue;
}

// Liens sous la parole

.about {
    cursor: pointer;
    text-decoration: underline;
    font-family: "Karla", sans-serif;
    text-indent: 0;
    font-size: large;
}
.center {
    text-align: center;
}

.info {
    text-decoration: none;
    cursor: default;
    font-family: "Karla", sans-serif;
    text-indent: 0;
}
.date-gospel {
    text-align: center;
}

#infoContainer {
 display: flex;
 flex-direction: row;
}
.colorCircle {
    width: 15px; 
    height: 15px;
    border-radius: 50%; 
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    color: white;
}
img {
    margin: 50px;
}

input {
    border: 1px solid black;
}
a {
    text-decoration: none;
}

h1 {
    font-size: large;
}
// Bouton et animation

.button {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 20px;
    font-size: large;
    background: white;
    // background: linear-gradient(125deg,
    //        rgba(2, 0, 36, 1) 1%,
    //        rgba(9, 9, 121, 1) 10%,
    //        rgba(0, 212, 255, 1) 100%);
    color: black;
    border: 4px dashed midnightblue;
    cursor: pointer;
    border-radius: 50%;
    font-family: "Karla", sans-serif;
    // animation-name: spin;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.35, 0.36, 0.72, 0.72);
}

@keyframes spin {
    0% {
        box-shadow: -4px 4px green, 4px 2px gold;
    }
    33% {
        box-shadow: 2px 4px white, 4px 4px orangered;
    }
    66% {
        box-shadow: 4px -4px lightblue, -2px 4px crimson;
    }
    100% {
        box-shadow: 0px 0px white, 0px 0px white;
    }
}


// header, cross size
.cross {
    width: 60px;
}

.back {
    width: 30px;
    padding: 0px;
    margin: 0px;
    transform: translateY(9px);
}

.arrow {
    margin-bottom: 40px;
}